@model List<SanTsgBootcamp.Web.Models.autocompleteModel.Item>
@{
    ViewData["Title"] = "HotelDeneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>

<h1>Hotel Select</h1> @*<a asp-action="HotelSearch">Back to City List</a>*@

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Hotel..">

<table id="myTable">
  <tr class="header">
     <th >Hotel Name</th>
    <th >Hotel İd</th>
    <th >city Name</th>
    <th>city id</th>
    <th>country name</th>
    <th>Options</th>
  </tr>
  @foreach (var item in Model)
    {
    <tr>
    <td>@item.hotel.name</td>
    <td>@item.hotel.id</td>
    <td>@item.city.name</td>
    <td>@item.city.id</td>
    <td>@item.country.name</td>
    <td>
	<a  asp-action="GetProductInfo" asp-controller="GetProductInfo" asp-route-hotelid="@item.hotel.id">Details </a> 

    <a asp-controller="PriceSearch"  asp-action="PriceSearch" asp-route-id="@item.city.id">Reservation</a>
				</td>
    </tr>

    }


</table>



<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

